.principal{
    background-color: #dee6eb;

}

.color-navbar{
    background-color: #506f81;
    height: 90px;
}
.navbar1{
   background-color: #eeeeee3b;

}
.nav-link{
    background-color: #00000033;
}

.container-login{
    background-color: #506f81;
    margin: 10;
}
/* .button{
  background-color: #506f81;
  border: 0px;

} */
/* ::shadow:: */
.primera-col, .segunda-col, .tercera-col, .cuarta-col, .quinta-col, .sexta-col{
  -webkit-box-shadow: 5px 5px 8px rgb(19, 23, 99);
  -moz-box-shadow: 5px 5px 8px rgb(19, 23, 99);
  filter: shadow(color=#131763, direction=135, strength=2);
}

