


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body {
  background-color: white
}

.dashboard {
  background-color: rgba(77, 172, 255, 0.139)
}

.principal{
    background-color: #dee6eb;

}

.color-navbar{
    background-color: #506f81;
    height: 90px;
}
.navbar1{
   background-color: #eeeeee3b;

}
.nav-link{
    background-color: #00000033;
}


/* .button{
  background-color: #506f81;
  border: 0px;

} */
/* ::shadow:: */
/* .primera-col, .segunda-col, .tercera-col, .cuarta-col, .quinta-col, .sexta-col{
  -webkit-box-shadow: 5px 5px 8px rgb(19, 23, 99);
  -webkit-box-shadow: 5px 5px 8px rgb(19, 23, 99);
  -moz-box-shadow: 5px 5px 8px rgb(19, 23, 99);
  filter: shadow(color=#131763, direction=135, strength=2);
} */

a {
  outline: none;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline
}

.collection-card, .chart-card {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 1px -1px 40px -2px rgba(0,0,0,0.05);
  -webkit-box-shadow: 1px -1px 40px -2px rgba(0,0,0,0.05);
  -moz-box-shadow: 1px -1px 40px -2px rgba(0,0,0,0.05); 
  border: 1px solid rgb(255, 255, 255);
}

.collection-card {
  margin: 0 15px;
  margin-bottom: 30px;
}

.card-title:hover {
  cursor: pointer;
  text-decoration: underline
}

.imagen-login{
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.extra-border {
  -webkit-box-shadow: 0 0 0px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 0px 2px rgba(0,0,0,0.75);
  box-shadow: 0 0 0px 2px rgba(0,0,0,0.75);
}

.form-switch .form-check-input {
  margin-left: 0;
}
.form-check-input:checked {
  background-color: rgba(0, 5, 10, 0.867)
}

.red-alert {
  color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.chart-button {
  margin: 0 5px;
  padding: 3px 8px;
  background-color: white;
  border-radius: 3px;
  outline: none;
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.848);
}

.chart-button:hover, .selected-filter {
  background-color: rgba(0, 0, 0, 0.848);
  color: white;
}

.custom-margin {
  margin-top: 70px!important;
}

.custom-padding-bottom {
  padding-bottom: 90px;
}